body{
    background-color: #243447;
    overflow-x: hidden;
}

#cc{
	position: fixed;
	bottom: 3vw;
	left: 1vw;
	width: 24vw;
	height: 14vw;
}


#tt{
    position: fixed;
    top: 0vw;
    left: 0vw;
}

#sim-env{
   
    position: absolute;
    right: 2vw;
    top:2vw;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}


.containeer {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  }
  .btn {
	position: relative;
	width: 40px;
	height: 40px;
	border: white 3px solid;
	border-radius: 3px;
	cursor: pointer;
	transition: border 0.1s ease-in-out;
  }
  
  .btn:hover .bar {
	background-color: #333;
  }
  .btn .bar {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
	width: 3px;
	height: 20px;
	border-radius: 3px;
	background-color: white;
	transform-origin: center;
	transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
  }
  .btn.pause .bar-1 {
	transform: translateX(13.5px) translateY(0px) rotate(0deg);
  }
  .btn.pause .bar-2 {
	transform: translateX(24px) translateY(0px) rotate(0deg);
  }
  .btn.play .bar-1 {
	transform: translateX(20px) translateY(-5px) rotate(-55deg);
  }
  .btn.play .bar-2 {
	transform: translateX(20px) translateY(5px) rotate(-125deg);
  }
  